$color-border: var(--color-border) !default;

$color-on-surface: var(--color-on-surface) !default;
$color-on-surface-active: var(--color-on-surface-active) !default;

$color-surface: var(--color-surface) !default;
$color-surface-hover: var(--color-surface-hover) !default;
